<%= render "field" %>
<%== pagy_bootstrap_nav @pagy if @fields.present? %>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  <%= t("admin.add_field") %>
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "form" %>
      </div>
      <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t("admin.close") %></button>
    </div>
  </div>
</div>
