<h1><%= t("email.password_reset.title") %></h1>
<p><%= t("email.password_reset.instruct") %></p>
<%= link_to t("email.password_reset.reset_password"), edit_password_reset_url(id: @user.reset_token, email: @user.email) %>
<p><%= t("email.password_reset.instruct2") %></p>
<p><%= t("email.password_reset.instruct3") %></p>
