<div class="text-white px-4 p-2 border my-2 rounded" data-toggle="collapse" data-target="#multiCollapseExample<%= comment.id %>">
  <div class="row align-items-center justify-content-between px-4">
    <div class="row ">
      <div><%= t("review.name") %>:</div>
      <div class=""><%= comment.user.first_name %></div>
    </div>
  </div>
  <h5 class=""><%= comment.content %></h5>
</div>
<div class="col">
  <div class="collapse multi-collapse" id="multiCollapseExample<%= comment.id %>">
    <div id="replies-<%= comment.id %>">
      <%= render partial: "comments/comment", collection: comment.replies %>
    </div>
    <div class="card-body">
      <div class="form-group">
        <%= form_for comment, url: comments_path, method: :post do %>
          <label for="exampleFormControlTextarea1"></label>
          <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          <input id="selected" name="dom_id" type="hidden" value="replies-<%= comment.id %>"/>
          <input id="selected" name="parent_comment_id" type="hidden" value="<%= comment.id %>"/>
          <button type="submit" class="btn btn-success mt-2 float-right"><%= t("button.comment") %></button>
        <% end %>
      </div>
    </div>
  </div>
</div>
