<div class="col-10 m-auto pt-5">
  <table class="table text-white">
    <thead>
    <tr>
      <th scope="col"><%= t("field_attribute.name") %></th>
      <th scope="col"><%= t("field_attribute.address") %></th>
      <th scope="col"><%= t("field_attribute.start_time") %></th>
      <th scope="col"><%= t("field_attribute.end_time") %></th>
      <th scope="col"><%= t("field_attribute.field_type") %></th>
      <th scope="col"><%= t("field_attribute.status") %></th>
      <th scope="col"><%= t("field_attribute.price") %></th>
      <th scope="col"><%= t("field_types.action") %></th>
    </tr>
    </thead>
    <tbody id="booking">
    <%= render(@bookings) || t("fields.empty") %>
    </tbody>
  </table>
</div>
