<div class="col-lg-4 mb-4" id="favorite-<%= field_type.id %>">
  <div class="custom-media d-block">
    <div class="img mb-4">
      <%= link_to field_type_path(field_type) do %>
        <img src="<%= asset_path("img_1.jpg") %>" alt="Image" class="img-fluid rounded">
      <% end %>
    </div>
    <div class="text">
      <div class="d-flex align-items-center justify-content-between">
        <div class="<%= "my-3 px-2 py-1 badge badge-#{field_type_status(field_type)}" %>"><%= field_type_label_button_status(field_type) %></div>
        <%= button_to favorite_field_types_path, method: :post, class: "bg-transparent", params: { field_type_id: field_type.id, dom_id: "favorite-#{field_type.id}" } do %>
          <ion-icon name="<%= "#{check_is_user_favorited?(field_type)}" %>" class="h3 text-danger"></ion-icon>
        <% end %>
      </div>
      <h5 class=""><%= "#{map_with_time_of_day(field_type.prices).price} $" %></h5>
      <h3 class="mb-4"><%= field_type.field_type_name %></h3>
      <%= link_to t("button.booking"), root_path, class: "btn btn-danger" %>
    </div>
  </div>
</div>
