<aside class="sidebar position-fixed top-0 left-0 overflow-auto h-100 float-left" id="show-side-navigation1">
  <i class="uil-bars close-aside d-md-none d-lg-none" data-close="show-side-navigation1"></i>
  <div class="sidebar-header d-flex justify-content-center align-items-center px-3 py-4">
    <div class="ms-2">
      <h5 class="fs-6 mb-0">
        <a class="text-decoration-none" href="#"><%= current_user.full_name %></a>
      </h5>
      <p class="mt-1 mb-0"><%= t("admin.introduce") %></p>
    </div>
  </div>
  <div class="nav_link">
    <div class="nav_item">
      <i class="fa-solid fa-house-chimney"></i>
      <%= link_to t("admin.field_manager"), admin_fields_path, method: :get %>
    </div>
  </div>
</aside>
<section id="wrapper">
  <nav class="navbar navbar-expand-md">
    <div class="container-fluid mx-2">
      <div class="navbar-header">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggle-navbar" aria-controls="toggle-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <i class="uil-bars text-white"></i>
        </button>
        <a class="navbar-brand" href="#"><%= t("admin.static_pages.admin_page") %></a>
      </div>
      <div class="collapse navbar-collapse" id="toggle-navbar">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= t("admin.static_pages.settings") %>
            </a>
            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenu2">
              <%= link_to admin_static_page_path(current_user), class: "dropdown-item" do %>
                <%= t("admin.my_account") %>
              <% end %>
              <button class="dropdown-item" type="button"><%= t("admin.log_out") %></button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="p-4">
    <section class="statistics mt-4">
      <%== pagy_bootstrap_nav @pagy %>
      <div class="box d-flex rounded-2 align-items-center mb-4 mt-4">
        <div class="content rounded-3 p-3">
          <ul class="order-list">
            <% @bookings.each do |booking| %>
              <li class="order-item d-flex">
                <span class="order-name"><%= "Booking Name: #{booking.user.full_name}" %></span>
                <span class="order-day"><%= "Booking Day: #{booking.booked_date}" %></span>
                <span class="order-time"><%= "Start time: #{booking.start_time}, End time: #{booking.end_time}" %></span>
                <span class="order-field_type_name"><%= "Field name #{booking.field_type_name}" %></span>
                <div class=" dropdown zindex-dropdown">
                  <a class="btn dropdown-toggle text-white" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action
                  </a>
                  <div class="dropdown-menu z-1" aria-labelledby="dropdownMenu2">
                    <% if booking.status == 1 %>
                      <%= button_to t("admin.static_pages.accept"), admin_static_page_path(booking), method: :patch, class: "dropdown-item" %>
                      <%= button_to t("admin.static_pages.reject"), cancel_admin_static_page_path(booking), method: :patch, class: "dropdown-item" %>
                    <% elsif booking.status == 2 %>
                      <%= button_to "Pending", pending_admin_static_page_path(booking), method: :patch, class: "dropdown-item" %>
                      <%= button_to t("admin.static_pages.reject"), cancel_admin_static_page_path(booking), method: :patch, class: "dropdown-item" %>
                    <% else %>
                      <%= button_to "Pending", pending_admin_static_page_path(booking), method: :patch, class: "dropdown-item" %>
                      <%= button_to t("admin.static_pages.accept"), admin_static_page_path(booking), method: :patch, class: "dropdown-item" %>
                    <%end %>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </section>
  </div>
</section>
