<div class="text-white px-4 p-2 border my-2 rounded border-danger" data-toggle="collapse" data-target="#multiCollapseExample<%= review.id %>">
  <div class="row align-items-center justify-content-between px-4">
    <div class="row ">
      <div><%= t("review.name") %>:</div>
      <div class=""><%= review.user.first_name %></div>
    </div>
    <ul class="ratingW2 float-right row">
      <% review.rating.times do |i| %>
        <li>
          <div class="star">
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <h5 class=""><%= review.content %></h5>
</div>
<div class="col">
  <div class="collapse multi-collapse" id="multiCollapseExample<%= review.id %>">
    <div id="comment-<%= review.id %>">
      <%= render review.comments %>
    </div>
    <div class="card-body">
      <div class="form-group">
        <%= form_for review, url: comments_path, method: :post do %>
          <label for="exampleFormControlTextarea1"></label>
          <textarea name="content" class="form-control text-white" id="exampleFormControlTextarea1" rows="3"></textarea>
          <input id="selected" name="review_id" type="hidden" value="<%= review.id %>"/>
          <input id="selected" name="dom_id" type="hidden" value="comment-<%= review.id %>"/>
          <button type="submit" class="btn btn-success mt-2 float-right"><%= t("button.comment") %></button>
        <% end %>
      </div>
    </div>
  </div>
</div>
