<div class="col-md-4 p-2">
  <div class="post-entry">
    <%= link_to root_path do %>
      <img src="<%= asset_path("img_1.jpg") %>" alt="Image" class="img-fluid rounded">
      <div class="caption">
        <div class="caption-inner">
          <h3 class="mb-3"><%= field.name %></h3>
          <div class="author d-flex align-items-center">
            <div class="img mb-2 mr-3">
              <img src="<%= asset_path("img_1.jpg") %>" alt="Image" class="img-fluid rounded-circle">
            </div>
            <div class="text">
              <h4>
                <%= field.address %>
              </h4>
              <span>
              <%= field.phone_number %>
            </span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
