<header class="site-navbar py-4" role="banner">
  <div class="container">
    <div class="d-flex align-items-center">
      <div class="site-logo">
        <img src="<%= asset_path("logo.png") %>" alt="Logo">
      </div>
      <div class="ml-auto">
        <%= render "layouts/language" %>
        <nav class="site-navigation position-relative text-right" role="navigation">
          <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
            <li class="active">
              <%= link_to t("header.home"), root_path, class: "nav-link" %>
            </li>
            <li>
              <% if logged_in? %>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= t("header.settings") %>
                  </button>
                  <div class="dropdown-menu p-2" aria-labelledby="dropdownMenuButton">
                    <%= link_to t("header.profile"), edit_user_path(current_user) %>
                    <%= link_to t("header.booking_history"), bookings_path %>
                  </div>
                </div>
              <% end %>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
